  /* instillinger til alle sidene */
  body {
    background-color: #440268;
    font-size: 18px;
    font-family: "Aclonica";
}

button, select, #taskInput {
  font-family: inherit;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: blue;
}

/* instillinger til grid */
.header { grid-area: h; }
.nav { grid-area: nav;}
.main { grid-area: main; }
.more { grid-area: more; }
.main-container {
    display: grid;
    gap: 15px;
    padding: 10px;
    grid-template-areas:
      "nav h h h"
      "nav main main main"
      "nav more more more"
    ;
}
.main-container, .container2 {
    margin: auto;
    max-width: 800px;
}

@media (max-width: 1000px) {
  .main-container,  .container2 {
    margin-left: 0%;
    margin-right: 0%;
  }
}

.main-item {
  /*background-color: rgb(229, 234, 186);*/
  background-image: linear-gradient(to bottom right, rgb(255, 183, 0), rgb(247, 234, 0));
  text-align: center;
  padding: 20px;
}


.container2 {
  display: grid;
  gap: 15px;
  padding: 10px;
}


.top { grid-area: h; }
.item1 { grid-area: one;}
.item2 { grid-area: two; }
.item3 { grid-area: three;}
.item4 { grid-area: four; }
.item5 { grid-area: five;}
.item6 { grid-area: six; }
.vid { grid-area: vid; }
.end { grid-area: last; }
.container3 {
  display: grid;
  gap: 15px;
  padding: 10px;
  grid-template-areas: 
    "h h h"
    "one two three"
    "four five six"
    ".. vid .."
    "last last last"
  ;
}



/* får div'en "hover-text" til å være over andre ting */
img {
  display: block;
  width: 100%;
  height: auto;
}
.item, .item1, .item2, .item3, .item4, .item4, .item5, .item6 {
  position: relative;
  display: inline-block;
}
.hover-text {
  position: absolute;
  bottom: 10%;
  left: 7%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* her prøvde jeg å animere navigation bar, det gikk ikke som jeg ville, men her er koden hvis jeg blir interessert i denne idèen igjen */


.sidebar {
  /*width: 25%;
  white-space: nowrap;
  overflow-x: hidden;
  border: 5px solid black;
  animation: close 2s;*/
}

@keyframes close {
  from {z-index: 1; white-space: wrap; width: 200%;}
  to {z-index: 0; white-space: nowrap; width: 25%;}
}

@keyframes open {
  from {z-index: 0; white-space: nowrap; width: 25%;}
  to {z-index: 1; white-space: wrap; width: 200%;}
}

.sidebar:hover {
  /*animation: open 2s;*/
}
