  /* instillinger til alle sidene */
  body {
    background-color: #440268;
    font-size: 18px;
    font-family: "Audiowide";
}

/* instillinger til grid */
.header { grid-area: h; }
.nav { grid-area: nav;}
.main { grid-area: main; }
.more { grid-area: more; }
.main-container {
    display: grid;
    gap: 15px;
    padding: 10px;
    grid-template-areas:
      "nav h h h"
      "nav main main main"
      "nav more more more"
    ;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 800px;
}

@media (max-width: 1000px) {
  .main-container {
    margin-left: 0%;
    margin-right: 0%;
  }
}

.main-item {
  background-color: rgb(229, 234, 186);
  text-align: center;
  padding: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 5px solid black;
}

.sidenav a, .sidenav h2 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 5.5s;
}

.sidenav a:hover {
  color: #f1f1f1;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}




.container2 {
  display: grid;
  gap: 15px;
  padding: 10px;
}


.top { grid-area: h; }
.item1 { grid-area: one;}
.item2 { grid-area: two; }
.item3 { grid-area: three;}
.item4 { grid-area: four; }
.item5 { grid-area: five;}
.item6 { grid-area: six; }
.vid { grid-area: vid; }
.end { grid-area: last; }
.container3 {
  display: grid;
  gap: 15px;
  padding: 10px;
  grid-template-areas: 
    "h h h"
    "one two three"
    "four five six"
    ".. vid .."
    "last last last"
  ;
}


a {
  color: rgb(18, 81, 241);
}


/* får div'en "hover-text" til å være over andre ting */
img {
  display: block;
  width: 100%;
  height: auto;
}
.item, .item1, .item2, .item3, .item4, .item4, .item5, .item6 {
  position: relative;
  display: inline-block;
}
.hover-text {
  position: absolute;
  bottom: 10%;
  left: 7%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}




.sidebar {
  height: 100%;
  width: 85px;
  z-index: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  
}

.sidebar a:hover {
  color: #f1f1f1;
  white-space: wrap;
}

.material-icons,
.icon-text {
  vertical-align: middle;
  
}

.material-icons {
  padding-bottom: 3px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 100px;
  
  white-space: wrap;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }
  .sidebar a {
      font-size: 18px;
  }
}